<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>로그인</title>
</head>

<body>
    <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}" />
    <!-- modal 영역 -->
    <div class="modal fade" id="login_modal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">로그인</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                </div>
                <form id="loginForm" action="/login" method="POST">
                    <div class="modal-body">
                        <div class="form-group">
                            <label for="textarea_id" class="control-label">아이디</label>
                            <input type="text" class="form-control" name="userId">
                        </div>
                        <div class="form-group">
                            <label for="textarea_password" class="control-label">비밀번호</label>
                            <input type="password" class="form-control" name="userPassword">
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" id="entry_request_modal" class="btn btn-light"
                            style="float: left;">회원가입</button>
                        <button type="submit" id="login" class="btn btn-info">로그인</button>
                        <button type="button" class="btn btn-light" data-dismiss="modal">닫기</button>
                        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
                    </div>
                </form>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

    <!-- modal 영역 -->
    <div class="modal fade" id="entry_modal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">회원가입</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="form-group">
                            <label for="entry_id" class="control-label">아이디</label>
                            <input type="text" class="form-control" id="entry_id">
                        </div>
                        <div class="form-group">
                            <label for="entry_password" class="control-label">이름</label>
                            <input type="text" class="form-control" id="entry_name">
                        </div>
                        <div class="form-group">
                            <label for="entry_password" class="control-label">비밀번호</label>
                            <input type="password" class="form-control" id="entry_password">
                        </div>
                        <div class="form-group">
                            <label for="entry_password" class="control-label">이메일</label>
                            <input type="text" class="form-control" id="entry_email">
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" id="entry_request" class="btn btn-light">신청</button>
                    <button type="button" class="btn btn-light" data-dismiss="modal">취소</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

    <script>
        $(function () {
            'use strict';

            const FAIL = 0;
            const SUCCESS = 1;
            const NOT_LOGIN = "0";
            const LOGIN = "1";
            const LOGIN_KEY = "isLogin";

            const getCookie = function () {
                const array = document.cookie.split(";");
                if (array) {
                    for (let cookie of array) {
                        if (cookie.indexOf(LOGIN_KEY) === 0) {
                            let idx = cookie.indexOf("=");
                            return cookie.substr(idx + 1);
                        }
                    }
                }
                return NOT_LOGIN;
            }

            const checkLogin = function () {
                if (getCookie() == LOGIN) {
                    if ($("#login_button").text() == "로그인") {
                        $("#login_button").text("로그아웃");
                    }
                }
            }

            checkLogin();

            const changeFormAction = function () {
                if (getCookie() == LOGIN) {
                    $("#loginForm").attr("action", "/logout");
                } else {
                    $("#loginForm").attr("action", "/login");
                }
            }

            changeFormAction();

            $("#login_button").on("click", function () {
                if (getCookie() == LOGIN) {
                    $("#login").click();
                } else {
                    $('#login_modal').modal('show');
                }
            });

            $("#entry_request_modal").on("click", function () {
                $('#entry_modal').modal('show');
            });

            // 로그인용 데이터 생성
            var createLoginData = function () {
                var userId = $("#userId").val();
                var password = $("#userPassword").val();
                return {
                    "id": userId,
                    "password": password
                }
            };

            // 신규가입용 데이터 생성
            var createEntryData = function () {
                var userId = $("#entry_id").val();
                var password = $("#entry_password").val();
                var name = $("#entry_name").val();
                var email = $("#entry_email").val();
                return {
                    "userId": userId,
                    "userPassword": password,
                    "userName": name,
                    "email": email
                }
            };

            $("#entry_request").on("click", function () {
                let promise = requestPost("/addUser", JSON.stringify(createEntryData()));
                promise.then(function (res) {
                    if (res.result == SUCCESS) {
                        alert("가입 성공");
                        $("#entry_request_modal").modal('hide');
                    }
                }).catch(function (e) {
                    alert("가입 실패");
                });
            });
        });
    </script>

</body>

</html>