<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>메인 화면</title>
    <!-- CSS -->
    <link rel="stylesheet" href="/webjars/bootstrap/4.3.1/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/static/css/common.css" />
    <!-- javascript -->
    <script type="text/javascript" src="/webjars/jquery/3.4.1/jquery.min.js"></script>
    <script type="text/javascript" src="/webjars/popper.js/1.15.0/popper.min.js"></script>
    <script type="text/javascript" src="/webjars/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/static/script/XHR.js"></script>
</head>

<body>
    <header th:replace="common/commonHeader :: header_label"></header>
    <!-- 컨테이너 -->
    <div class="container">

        <div class="productArea m-3">
            <!-- <hr> -->
            <!-- <div class="col-lg-3">
                <a></a>
            </div>
            <div class="col-lg-3">

            </div>
            <div class="col-lg-3">

            </div>
            <div class="col-lg-3">

            </div> -->
        </div>
        <hr>
        <div class="pageBtnArea">
            <nav class="btnAreaComponent">
                <ul class="pagination pageBtn pagination-sm">
                    <li id="preBtnLi" class="page-item">
                        <a class="page-link" href="#" id="previousBtn" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" href="#" id="nextBtn" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                </ul>
            </nav>
            <div class="btnAreaComponent">
                <select id="pageUnit" class="selectpicker">
                    <option>10</option>
                    <option>20</option>
                    <option>30</option>
                    <option>40</option>
                    <option>50</option>
                </select>

            </div>

        </div>
    </div>
    <footer>

    </footer>

    <script>
        $(function () {
            let pageItemCount = 0;

            const createPageBtn = function (allPage) {
                for (var i = allPage; i > 0; i--) {
                    let li =
                        `<li class='page-item'><a id='page${i}' class='page-link' href='#'><span aria-hidden="true">${i}</span></a></li>`;
                    $("#preBtnLi").after(li);
                }
            }

            const createProductList = function (pList) {
                if (pList) {
                    let idx = 0;
                    pList.forEach(p => {
                        // <img src="images/200x200.png" alt="My Image">
                        let image = `<img class='producImg' src='/images/${p.productImg}'></img>`;
                        $(".productArea").append(image);
                        if (++idx > 3) {
                            $(".productArea").append(`<hr>`);
                            idx = 0;
                        }
                    })
                }

            }

            const getProductList = function (requestData) {
                let promise = post("/getProduct", requestData);
                promise.then(function (res) {
                    // $("#pageUnit").val();
                    pageItemCount = res.productList.length;
                    createPageBtn(res.page);
                    createProductList(res.productList);
                })
            }

            const createReqData = function (page, unit) {
                let data = {
                    'page': page,
                    'unit': unit
                }
                return JSON.stringify(data);
            }

            getProductList(createReqData(0, 10));

            $("#pageUnit").change(function () {
                let unit = $("pageUnit").text();
                getProductList(createReqData(0, unit));
            });

            $(".pageBtn").on("click", function () {
                $(this).addClass("active");
            });

            $(".pageBtn").change(function () {
                let unit = $("pageUnit").text();
                // let selectedPage = 
                getProductList(createReqData(0, unit));
            });

        });
    </script>
</body>

</html>