<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>메인 화면</title>
    <!-- CSS -->
    <link rel="stylesheet" href="/webjars/bootstrap/4.3.1/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/static/css/common.css" />
    <!-- javascript -->
    <script type="text/javascript" src="/webjars/jquery/3.4.1/jquery.min.js"></script>
    <script type="text/javascript" src="/webjars/popper.js/1.15.0/popper.min.js"></script>
    <script type="text/javascript" src="/webjars/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/static/script/FetchService.js"></script>
</head>

<body>
    <header th:replace="common/commonHeader :: header_label"></header>
    <!-- 컨테이너 -->
    <div class="container">

        <div class="productArea m-3">
            <!-- 상품영역 -->
        </div>
        <div class="pageBtnArea">
            <nav class="btnAreaComponent">
                <ul class="pagination pageBtn pagination-sm">
                    <!-- 페이지버튼 영역 -->
                </ul>
            </nav>
            <div class="btnAreaComponent">
                <select id="pageUnit" class="selectpicker">
                    <option>12</option>
                    <option>24</option>
                    <option>36</option>
                    <option>48</option>
                    <option>60</option>
                </select>

            </div>

        </div>
    </div>
    <footer>

    </footer>

    <script>
        $(function () {
            'use strict';

            let pageItemCount = 0;

            // 페이지 버튼 생성
            const createPageBtn = function (allPage) {
                $(".pageBtn").empty();
                let pre = `<li id="preBtnLi" class="page-item">
                        <a class="page-link" href="#" id="previousBtn" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>`;
                $(".pageBtn").append(pre);
                for (var i = allPage; i > 0; i--) {
                    let li =
                        `<li class='page-item'><a id='page${i}' class='page-link' href='#'><span aria-hidden="true">${i}</span></a></li>`;
                    $("#preBtnLi").after(li);
                    if (i === 1) {
                        $("#page1").parent().addClass("active");
                    }
                }
                let post = `<li class="page-item">
                        <a class="page-link" href="#" id="nextBtn" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>`;
                $(".pageBtn").append(post);
            }

            // 상품 리스트 생성
            const createProductList = function (pList) {
                $(".productArea").empty();
                if (pList) {
                    let idx = 0;
                    pList.forEach(p => {
                        let figure = $("<figure class='productCap'>");
                        let image =
                            `<img class='productImg' src='/images/${p.productImg}'></img><br>`;
                        let caption =
                            `<figcaption>${p.productName}</figcaption>`;
                        figure.html(image + caption);
                        $(".productArea").append(figure);
                        if (++idx > 3) {
                            $(".productArea").append(`<hr>`);
                            idx = 0;
                        }
                    })
                }

            }

            // 페이지별 상품 리스트를 가져옴
            const getProductList = function (page, unit, pageBtnFlag) {
                let url = `/getProduct?page=${page}&unit=${unit}`;
                let promise = requestGet(url);
                promise.then(function (res) {
                    pageItemCount = res.productList.length;
                    createProductList(res.productList);
                    if (pageBtnFlag) {
                        createPageBtn(res.page);
                    }
                })
            }

            getProductList(0, 12, true);

            $("#pageUnit").change(function () {
                let unit = $("#pageUnit option:selected").val();
                getProductList(0, unit, true);
            });

            $(".pageBtn").on("click", function (e) {
                $(".page-item").each(function () {
                    $(this).removeClass("active");
                });
                let target = $(e.target).closest("li");
                target.addClass("active");
                let page = $(e.target).text() - 1;
                let unit = $("#pageUnit option:selected").val();
                getProductList(page, unit, false);
            });

            // $(".pageBtn").change(function () {
            //     let unit = $("pageUnit").text();
            //     // let selectedPage = 
            //     getProductList(0, unit); //FIXME:
            // });

        });
    </script>
</body>

</html>