<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>메인 화면</title>
    <link rel="stylesheet" href="/webjars/bootstrap/4.3.1/css/bootstrap.min.css">
    <script type="text/javascript" src="/webjars/jquery/3.4.1/jquery.min.js"></script>
    <script type="text/javascript" src="/webjars/popper.js/1.15.0/popper.min.js"></script>
    <script type="text/javascript" src="/webjars/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/static/script/XHR.js"></script>
</head>

<body>
    <header th:replace="common/commonHeader :: header_label"></header>
    <!-- 컨테이너 -->
    <div class="container">
        <div class="productArea">
            <!-- <hr> -->
            <!-- <div class="col-lg-3">
                <a></a>
            </div>
            <div class="col-lg-3">

            </div>
            <div class="col-lg-3">

            </div>
            <div class="col-lg-3">

            </div> -->
        </div>
        <div class="pageBtnArea">
            <nav>
                <ul class="pagination pageBtn">
                    <li id="preBtnLi">
                        <a href="#" id="previousBtn" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                    <li>
                        <a href="#" id="nextBtn" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
    <footer>

    </footer>

    <script>
        $(function () {
            let createPageBtn = function (pageList) {
                pageList.forEach((page) => {
                    let li =
                        `<li><a id='page${page}' href='#'><span aria-hidden="true">${page}</span></a></li>`;
                    $("#preBtnLi").after(li);
                })
            }

            let getProductList = function (requestData) {
                let promise = post("/getProduct", requestData);
                promise.then(function (res) {
                    createPageBtn(res.page);
                })

                // res.pageList.forEach((page) => {

                // });

            }

            let createReqData = function (page, unit) {
                let data = {
                    'page': page,
                    'unit': unit
                }
                return JSON.stringify(data);
            }

            getProductList(createReqData(0, 10));

        });
    </script>
</body>

</html>